<div class="pn2 bt">
<p><a href="/subscribe" class="muted internal-link font-ui">Receive my updates</a></p>
<div class="mn2 small font-ui">
<form action="https://buttondown.email/api/emails/embed-subscribe/akramz" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/akramz','popupwindow')" class="embeddable-buttondown-form">
    <input type="email" name="email" id="bd-email" placeholder="Enter your email">
    <input type="hidden" value="1" name="embed">
    <input type="hidden" name="tag" value="via-footer">
    <input type="submit" value="Sign up">
</form>
<p>Contact me via email <a target="_blank" href="mailto:zaytarakram@gmail.com">zaytarakram@gmail.com</a> or reach out on <a target="_blank" href="https://www.linkedin.com/in/akramz/">LinkedIn</a>.</p>
</div>
</div>