---
layout: default
---

{%-include back_link.html-%}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1>{{ page.title }}</h1>

  {{ content }}

  <hr>
  <form
    action="https://buttondown.com/api/emails/embed-subscribe/akramz"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.com/akramz', 'popupwindow')"
    class="embeddable-buttondown-form"
  >
    <label for="bd-email">Enter your email</label>
    <input type="email" name="email" id="bd-email" />
    
    <input type="submit" value="Subscribe" />
    <p>
      <a href="https://buttondown.com/refer/akramz" target="_blank">Powered by Buttondown.</a>
    </p>
  </form>
</article>